name: Pull Request

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.editorconfig'

jobs:
  validate:
    name: "Validate"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Linting
        run: yarn lint

      - name: Type Check
        run: yarn type-check

      - name: Unit Testing
        run: yarn test:coverage

      - name: Upload Coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{secrets.CODECOV_TOKEN}} # not required for public repos
          directory: coverage
          fail_ci_if_error: true

  publish:
    name: "Publish (dry-run)"
    runs-on: ubuntu-latest
    needs: validate
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip:publish') && !contains(github.head_ref, 'renovate/') }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build